[submodule "libglfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	branch = "3.3-stable"

[submodule "libeigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
	branch = "3.4"

[submodule "libpathfinder"]
	path = external/pathfinder-cpp
	url = https://github.com/floppyhammer/pathfinder-cpp.git
	branch = "master"
